%div.col-xs-6.col-lg-4
  %h2 #{@campaign.name}
  %p #{@campaign.summary}

%div.col-xs-12.col-sm-6.col-lg-8
  .panel.panel-default
    .panel-heading Add a Target to #{@campaign.name}
    .panel-body
      = simple_form_for [@campaign, @target], url: campaign_targets_path do |f|
        = f.input :first_name, label: "First Name"
        = f.input :last_name, label: "Last Name"
        = f.input :address1, label: "Address"
        = f.input :city, label: "City"
        = f.input :state, label: "State", :input_html => {:maxlength => 2 }
        = f.input :phone_number, label: "Phone", :input_html => {:maxlength => 10 }
        = f.input :zipcode, label: "ZIP Code", :input_html => {:maxlength => 5 }
        .form-group
        = f.submit "Add Target to Campaign", :class => "btn btn-default"
