%h1= @campaign.name

%hr

%ul#targets
 - @campaign.targets.each do |tar|
  %li #{tar.first_name} #{tar.last_name} - #{tar.phone_number} - #{tar.zipcode} - #{link_to "View", campaign_target_path(@campaign, tar)}

- if @is_admin
 = link_to "Add Target", new_campaign_target_path(@campaign)
